# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.project
.buildpath
.classpath
.checkstyle
.factorypath
.settings/
.idea/
TAGS
*.log
*.lck
*.iml
target/
*.DS_Store
*.patch
*~
git.properties
contrib/native/client/build/
contrib/native/client/build/*
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
?/
!c/